target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
*.class
*.jar
*.war
.classpath
.project
.settings/
.idea/
.vscode/
*.iml
.DS_Store

# Build artifacts
dependency-reduced-pom.xml
*.dmg
aa Build Materials/
